[submodule "java-design-patterns"]
	path = java-design-patterns
	url = git@github.com:iluwatar/java-design-patterns.git
[submodule "graal"]
	path = graal
	url = git@github.com:oracle/graal.git
[submodule "Vulkan-Tutorial-Java"]
	path = Vulkan-Tutorial-Java
	url = git@github.com:Naitsirc98/Vulkan-Tutorial-Java.git
[submodule "Programming-_Principles_and_Practice_Using_Cpp"]
	path = Programming-_Principles_and_Practice_Using_Cpp
	url = https://github.com/BjarneStroustrup/Programming-_Principles_and_Practice_Using_Cpp
[submodule "gnome-maps"]
	path = gnome-maps
	url = git@github.com:GNOME/gnome-maps.git
[submodule "0ad"]
	path = 0ad
	url = git@github.com:0ad/0ad.git
[submodule "LoboBrowser"]
	path = LoboBrowser
	url = git@github.com:lobobrowser/LoboBrowser.git
[submodule "eie-pro-linux"]
	path = eie-pro-linux
	url = git@github.com:jforberg/eie-pro-linux.git
[submodule "simple-java-websocket"]
	path = simple-java-websocket
	url = git@github.com:ayeminoo-zz/simple-java-websocket.git
[submodule "openjfx-docs"]
	path = openjfx-docs
	url = git@github.com:openjfx/openjfx-docs.git
[submodule "fastjson"]
	path = fastjson
	url = git@github.com:alibaba/fastjson.git
[submodule "linux"]
	path = linux
	url = git@github.com:torvalds/linux.git
[submodule "Java-WebSocket"]
	path = Java-WebSocket
	url = git@github.com:TooTallNate/Java-WebSocket.git
[submodule "godot"]
	path = godot
	url = git@github.com:godotengine/godot.git
[submodule "WHID"]
	path = WHID
	url = git@github.com:whid-injector/WHID.git
[submodule "lsp4e"]
	path = lsp4e
	url = git://git.eclipse.org/gitroot/lsp4e/lsp4e.git
